* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
#root{

  border: 1px solid red;
  width: 80%;
  height: 100%;
  justify-self: center;
}
.header h1 {
  text-align: start;
  background-color: grey;
  width: 100%;

}
.input {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 300px; 

}
.cancelbutton {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-top: -3rem;
}
button {
  height: 40px;
   width: 70px;
}
.searchbutton{
  padding: 1rem;
  margin-left: 15rem;
  
}
.Nav{
  background-color: blue;
}